# Data and images
data/training
data/experiment*
model/sd_ex/archive
ColossalAI
*.png
*.jpg
*.wav
*.tfrecord
*.zip
*.tar.*
*.mp3
*.zip

# Weights and Biases
wandb

# Model checkpoints and weights
checkpoint-*
*.bin
*.ckpt
lora/out/*

# archive folders
archive/

