# Data and images
data/training
data/experiment*
model/sd_ex/archive
ColossalAI
*.png
*.jpg
*.wav
*.tfrecord
*.zip
*.tar.*
*.mp3
*.zip
*.nfs

# Weights and Biases
wandb

# Model checkpoints and weights
checkpoint-*
*.bin
*.ckpt
model/sd_ex/lora/out/**/config.json
model/sd_ex/lora/out/*

# archive folders
archive/

# pycache folders and files
__pycache__/*
*.pyc